:root {
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 20px;
  height: 100vh;
  width: 100%;
}

.container, .container-lg, .container-md, .container-sm {
  max-width: 75vw !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #2f2f2e;
  height: 75px;
  position: fixed;
  z-index: 10;
  transition: height 0.3s ease, background 0.3s ease, color 0.3s ease;
  font-weight: bold;
  padding: 0 5vw;
}

header.is_scroll {
  height: 50px;
  background-color: #BFB7A8;
  color: white;
  transition: height 0.3s ease, background 0.3s ease, color 0.3s ease;
}

header .logo a,
header .nav a {
  font-size: 25px;
  margin: 0;
  padding: 0;
  color: var(--white-color);
  list-style: none;
  display: inline-block;
  transition: all 0.2s;
  text-decoration: none;
  margin: 0 20px;
}

.header-scroll {
  cursor: pointer;
  top: -200px;
}

header .logo a:hover,
header .nav a:hover {
  color: rgb(182, 172, 153);
  transition: all 0.3s;
}

header.is_scroll a {
  font-size: 23px;
}

header.is_scroll a:hover {
  color: #625A48;
}

.top_bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.7;
}

.Top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Top h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.Top p {
  font-size: 30px;
  margin: 0;
}

.profileImage {
  object-fit: cover;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.service {
  margin-bottom: 15vh;
}

.News-ul {
  display: flex;
}

.Top-detail {
  position: relative;
  top: 20px;
  left: 0;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
}

.Top-detail::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 90%;
  background-color: #BFB7A8;
  position: absolute;
  top: 5px;
  left: -20px;
}

.detail-news {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.detail-news p {
  margin-bottom: 0;
}

.title a {
  text-decoration: none;
  color: #2f2f2e;
}

.title a:hover {
  color: rgb(182, 172, 153);
  transition: all 0.3s;
}

.date {
  margin-right: 20px;
}

.page-section {
  text-align: left;
}

.Top-detail h2 {
  font-size: 30px;
  font-weight: bold;
  display: block;
}

.Top-detail ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.Top-detail li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#skill img {
  object-fit: cover;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 300px;
  width: 300px;
  height: 500px;
}

#skill button {
  margin-bottom: 100px;
}

.swiper {
  height: 40vh;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

footer {
  background-color: #333333;
  height: 30vh;
  color: #FEFEFD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-contact p {
  font-size: 19px;
}

.icon svg {
  margin: 20px 10px;
  width: 25px;
  height: 25px;
  color: #FEFEFD;
}

.slick-prev:before,
.slick-next:before {
  color: #BFB7A8 !important;
  font-size: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-list {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.slider-list :hover {
  opacity: 0.4;
  transition: all 0.3s;
}

.slider-list img {
  max-width: 100%;
  max-height: auto;
  border-radius: 10px;
}


.skill-image-list {
  position: relative;
  display: grid;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  justify-items: center;
  top: 20px;
}

.skill-image-list img {
  max-width: 40%;
  height: auto;
  
}

.github-link-logo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.g-slide {
  margin: 20px auto;
}

.fade-in {
  animation: fadeIn ease 1s; /* アニメーションのプロパティを設定 */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* 開始時の透明度を0に設定 */
  }
  to {
    opacity: 1; /* 終了時の透明度を1に設定 */
  }
}

.scroll-to-top {
  transition: scroll-behavior 1s; /* Scroll animation duration */
}


@media screen and (max-width: 768px) {
  header {
    padding: 0 3vw;
  }

  header .logo a,
  header .nav a {
    font-size: 19px;
    margin: 0 13px;
  }

  header.is_scroll a {
    font-size: 17px;
  }

  .profileImage {
    height: 50vw;
    width: 50vw;
  }

  .Top-detail {
    font-size: 2.5vw;
  }

  .detail-news {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .date {
    margin: 0;
  }

  .mySwiper img {
    height: 80%;
    width: 80%;
    object-fit: cover;
  }
}